Repository gui2de/ppol768-spring23, pull requests merged in 2023-05, with the labels that each got.

#297 Saloni week7 + week8 work
  Individual Assignments/Bhatia Saloni/week07/README.md
  Individual Assignments/Bhatia Saloni/week08/README.md
  Individual Assignments/Bhatia Saloni/week08/outputs/Graph1.png
  Individual Assignments/Bhatia Saloni/week08/outputs/Graph2.png
  Individual Assignments/Bhatia Saloni/week08/outputs/Graph3.png
  Individual Assignments/Bhatia Saloni/week08/outputs/Graph4.png
  Individual Assignments/Bhatia Saloni/week08/outputs/output_part1.txt
  Individual Assignments/Bhatia Saloni/week08/outputs/output_part2.txt
  Individual Assignments/Bhatia Saloni/week08/outputs/w08-dataset.dta
  Individual Assignments/Bhatia Saloni/week08/sb2077-week08.do
  Individual Assignments/Bhatia Saloni/week09/sb2077-week09.do
Labels: week-08, week-09

#364 Wk09 cmg340
  Individual Assignments/Grady Maeve/week-09/README.md
  Individual Assignments/Grady Maeve/week-09/bias_results.dta
  Individual Assignments/Grady Maeve/week-09/debias_results.dta
  Individual Assignments/Grady Maeve/week-09/hist_bias.png
  Individual Assignments/Grady Maeve/week-09/hist_debias1.png
  Individual Assignments/Grady Maeve/week-09/week_9.do
Labels: incomplete, week-09

#322 wk09 - hh803 - COMPLETED & READY FOR REVIEW AGAIN :)
  Individual Assignments/Hill Hannah/week09/README.md
  Individual Assignments/Hill Hannah/week09/outputs/README.md
  Individual Assignments/Hill Hannah/week09/outputs/use_wk9_q1.png
  Individual Assignments/Hill Hannah/week09/outputs/use_wk9_q2.png
  Individual Assignments/Hill Hannah/week09/outputs/wk09_hill.do
  Individual Assignments/Hill Hannah/week09/outputs/wk09_hill_q2.do
  Individual Assignments/Hill Hannah/week09/outputs/wk09_model1.png
  Individual Assignments/Hill Hannah/week09/outputs/wk09_model2.png
  Individual Assignments/Hill Hannah/week09/outputs/wk09_model3.png
  Individual Assignments/Hill Hannah/week09/outputs/wk09_model4.png
  Individual Assignments/Hill Hannah/week09/outputs/wk09_model5.png
  Individual Assignments/Hill Hannah/week09/use_wk9.do
Labels: incomplete, week-09

#363 Week 10 Assignment
  Individual Assignments/Rivas Garcia Diana/week-10/Week 10 Assignment.do
Labels: incomplete, week-10

#319 Week 10
  Individual Assignments/Spielmann Elena/week10-eas391/week_10_stata_assignment_05.do
Labels: incomplete, week-10

#309 Week 09 Assignment
  Individual Assignments/Spielmann Elena/week09-eas391/README.md
  Individual Assignments/Spielmann Elena/week09-eas391/output/p1_comb.png
  Individual Assignments/Spielmann Elena/week09-eas391/output/p2_comb.png
  Individual Assignments/Spielmann Elena/week09-eas391/output/part1.dta
  Individual Assignments/Spielmann Elena/week09-eas391/output/part2.dta
  Individual Assignments/Spielmann Elena/week09-eas391/week_09_stata_assignment_04.do
Labels: incomplete, week-09

#340 Commit Week 10 Assignment .do File
  Individual Assignments/Weber Peyton/Week 10/README.md
  Individual Assignments/Weber Peyton/Week 10/part_one_first_part_image.png
  Individual Assignments/Weber Peyton/Week 10/part_one_second_part_with_controls.png
  Individual Assignments/Weber Peyton/Week 10/part_one_second_part_without_controls.png
  Individual Assignments/Weber Peyton/Week 10/part_two_beta_means_image.png
  Individual Assignments/Weber Peyton/Week 10/part_two_mean_of_CIs_width_image.png
  Individual Assignments/Weber Peyton/Week 10/ppol768_01_rdi_week_10_assignment.do
Labels: incomplete, week-10
