Repository gui2de/ppol768-spring23, pull requests merged in 2023-04, with the labels that each got.

#308 week08 - hh803 - COMPLETED AND READY FOR REVIEW AGAIN :)
  Individual Assignments/Hill Hannah/week-08/README.md
  Individual Assignments/Hill Hannah/week-08/outputs/README.md
  Individual Assignments/Hill Hannah/week-08/outputs/actual_wk08.do
  Individual Assignments/Hill Hannah/week-08/outputs/wk08_q1beta.png
  Individual Assignments/Hill Hannah/week-08/outputs/wk08_q2beta.png
Labels: week-08, incomplete

#335 W07 nhs
  Individual Assignments/Spilka Nathaniel/week-04/assignment_01.do
  Individual Assignments/Spilka Nathaniel/week-07/README.md
Labels: week-07

#332 w07 and 08 assignment
  Individual Assignments/Sun Selina/week07-js4880/README.md
  Individual Assignments/Sun Selina/week08-js4880/README.md
  Individual Assignments/Sun Selina/week08-js4880/generate_data.do
  Individual Assignments/Sun Selina/week08-js4880/q1.do
  Individual Assignments/Sun Selina/week08-js4880/q1_SEM.png
  Individual Assignments/Sun Selina/week08-js4880/q1_beta.png
  Individual Assignments/Sun Selina/week08-js4880/q2.do
  Individual Assignments/Sun Selina/week08-js4880/q2_100results.dta
  Individual Assignments/Sun Selina/week08-js4880/q2_2results.dta
  Individual Assignments/Sun Selina/week08-js4880/q2_SEM.png
  Individual Assignments/Sun Selina/week08-js4880/q2_beta.png
  Individual Assignments/Sun Selina/week08-js4880/q2_results.dta
  Individual Assignments/Sun Selina/week08-js4880/week08.dta
Labels: week-08, week-07

#349 W09 yn219 (final)
  Individual Assignments/Nam Young-Ju/README.md
  Individual Assignments/Nam Young-Ju/Week_09/README.md
  Individual Assignments/Nam Young-Ju/Week_09/img/Part1_Graph.png
  Individual Assignments/Nam Young-Ju/Week_09/img/Part2_Graph.png
  Individual Assignments/Nam Young-Ju/Week_09/week9_NYJ_part1_f.do
  Individual Assignments/Nam Young-Ju/Week_09/week9_NYJ_part2_f.do
Labels: week-09

#347 Yf222 week08new
  Group Projects/group-9/README.md
  Individual Assignments/Fang Daniel/week08/README.md
  Individual Assignments/Fang Daniel/week08/output/part1data.dta
  Individual Assignments/Fang Daniel/week08/output/week8.do
Labels: week-08

#334 Completed Part 1 Week 9
  Individual Assignments/Rivas Garcia Diana/week-09/README.md
  Individual Assignments/Rivas Garcia Diana/week-09/img/bestfit_m6.png
  Individual Assignments/Rivas Garcia Diana/week-09/img/bias from covariate_m5.png
  Individual Assignments/Rivas Garcia Diana/week-09/img/covariates_m3.png
  Individual Assignments/Rivas Garcia Diana/week-09/img/model2.png
  Individual Assignments/Rivas Garcia Diana/week-09/img/model3_collider.png
  Individual Assignments/Rivas Garcia Diana/week-09/img/model6.png
  Individual Assignments/Rivas Garcia Diana/week-09/img/simple_m1.png
  Individual Assignments/Rivas Garcia Diana/week-09/wk9-part1.do
  Individual Assignments/Rivas Garcia Diana/week-09/wk9-part2.do
Labels: week-09

#353 Week 08 update
  Individual Assignments/Brown Keegan/week-08/README.md
  Individual Assignments/Brown Keegan/week-08/output.dta
  Individual Assignments/Brown Keegan/week-08/outputs/part1_bar.png
  Individual Assignments/Brown Keegan/week-08/outputs/part1_table.xls
  Individual Assignments/Brown Keegan/week-08/outputs/part2_graph.png
  Individual Assignments/Brown Keegan/week-08/outputs/part2_table.xls
  Individual Assignments/Brown Keegan/week-08/part_2.dta
  Individual Assignments/Brown Keegan/week-08/w08assignment.do
Labels: week-08

#327 Submit week10 assignment
  Individual Assignments/Zhou Ming/week10/README.md
  Individual Assignments/Zhou Ming/week10/output/graph1.png
  Individual Assignments/Zhou Ming/week10/output/graph2.png
  Individual Assignments/Zhou Ming/week10/output/graph3.png
  Individual Assignments/Zhou Ming/week10/output/graph4.png
  Individual Assignments/Zhou Ming/week10/output/part_one_data.dta
  Individual Assignments/Zhou Ming/week10/output/week10_part_one.do
  Individual Assignments/Zhou Ming/week10/output/week10_part_two.do
Labels: incomplete, week-10
